@using PRELIM_A1_BSIT31A2_Bianca_Dollente.Models
@{
    ViewData["Title"] = "Home Page";

    <style>
        body {
            background-color: #F8C8DC;
            font-family: Arial, sans-serif;
        }

        h1 {
            color: #000000;
        }

        table {
            background-color: #F8C8D;
            border-collapse: collapse;
        }
    </style>

    <div class="text-center">
        <h1 class="display-4">PRELIM EXERCISE A1 – C# MVC + Razor Logic</h1>
    </div>
    <hr />
    var students = new List<Student>
    {
        new Student("Bianca", "Dollente"){ Title="Ms.", Course="BSIT", Section="31A2", Birthday=new DateTime(2005,1,24)},
        new Student("Kirby", "Claveria"){ Title="Mr.", Course="BSIT", Section="31A1", Birthday=new DateTime(2010,9,8)},
        new Student("Anthony", "Ramos"){ Title="Mr.", Course="BSCS", Section="31A1", Birthday=new DateTime(2005,8,20)},
        new Student("Kean", "Rodis"){ Title="Mr.", Course="BSIS", Section="32A2", Birthday=new DateTime(2004,12,5)},
        new Student("Kurt", "Garcia"){ Title="Mr.", Course="BSCS", Section="31A3", Birthday=new DateTime(2002,3,25)},
        new Student("Leila", "Claveria"){ Title="Ms.", Course="BSIT", Section="31A2", Birthday=new DateTime(2006,7,9)},
        new Student("Mark", "Tuan"){ Title="Mr.", Course="BSIS", Section="31A1", Birthday=new DateTime(2007,1,30)},
        new Student("Mina", "Cruz"){ Title="Ms.", Course="BSIT", Section="31A2", Birthday=new DateTime(2003,9,11)},
        new Student("Jay", "Tan"){ Title="Mr.", Course="BSCS", Section="31A1", Birthday=new DateTime(2002,6,17)},
        new Student("Althessa", "Lim"){ Title="Ms.", Course="BSIS", Section="32A3", Birthday=new DateTime(2002,4,6)}
    };

    students[0].SetGender(Gender.Female);
    students[1].SetGender(Gender.Male);
    students[2].SetGender(Gender.Male);
    students[3].SetGender(Gender.Male);
    students[4].SetGender(Gender.Male);
    students[5].SetGender(Gender.Female);
    students[6].SetGender(Gender.Male);
    students[7].SetGender(Gender.Female);
    students[8].SetGender(Gender.Male);
    students[9].SetGender(Gender.Female);
}
<h2>Student List</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Gender</th>
            <th>Course</th>
            <th>Section</th>
            <th>Birthday</th>
            <th>Age</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in students)
        {
            <tr>
                <td>@student.FullName</td>
                <td>@student.Gender</td>
                <td>@student.Course</td>
                <td>@student.Section</td>
                <td>@student.Birthday.ToShortDateString()</td>
                <td>@student.Age</td>
            </tr>
        }
    </tbody>
</table>

